<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>

<!-- @message = current_user.messages.new(chat_id: @chat.id)

<%= form_for @message, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.hidden_field :chat_id %>
  <%= f.text_field :text %>
  <%= f.submit "Create" %>
<% end %> -->
