$navbar-inverse-color:                      white;
$navbar-inverse-bg:                         rgba(238, 238, 43, .89);
$navbar-inverse-border:                     black;

$navbar-height:                             70px;

$font-family-base:                          Caudex;

// $font-family-serif:                         Caudex;
//
// $font-family-sans-serif:                    Caudex;

body {
   background:rgb(33,209,188) !important;

}
